.elv_sambaHelper {
  &_title {
    font-size: 2em !important;
    font-weight: bold !important;
  }

  &_subtitle {
    font-size: 2.6em !important;
    font-weight: bold !important;
  }

  &_autoInput {
    max-width: 1150px;
    width: 100%;
  }

  &_regenerateMessage {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 6px;
    font-weight: 500;
    display: inline-block;
  }

  &_checkboxLabel {
    margin-bottom: 4px;
    display: inline-block;
  }

  &_widgetList {
    width: 100%;
    border: none;
    border-collapse: collapse;

    td {
      padding: 10px;
    }

    th {
      text-align: left;
      padding: 10px;
    }
  }

  &_widgetLine {
    background-color: #fff;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &_widgetControlTd {
    width: 100px;
    text-align: right;
  }

  &_widgetAddNew {
    text-align: right;
    padding: 20px 10px;
  }

  &_singleWidgetDuo {
    width: 100%;
    padding: 10px;

    input,
    textarea {
      width: 100%;
    }

    textarea {
      height: 300px;
    }

    &.-controlButtons {
      text-align: right;

      >* {
        margin-left: 20px;
      }
    }
  }
}
